@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Замовлення успішно розміщено!</h1>
		Ваш номер замовлення: @Model <br /><br/>
	</div>

</div>