@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Оплата пройшла успішно!</h1>
		Ваш номер замовлення: @Model <br /><br />
	</div>
	<div class="col-12 textalign-content-center" style="color:maroon">
		<br />
		Платіж успішно прийнятий!
		<br />
		<a asp-area="Admin" asp-controller="Order" asp-action="Details"
			asp-route-orderId="@Model" class="btn btn-primary">Переглянути детальніше про замовлення</a>
	</div>
</div>